/* Configuração para computador desktop */
/* Configuração para computador desktop */
* {
    margin:0 auto ; /* centraliza todas as caixas */ /*rgb(213, 215, 215);*/
}
body{
    background-color:rgb(213, 215, 215) ;
}

div.grande{
    height:20.833vw;
    display:flex;
    flex-direction:row;
    margin-top: 5vw; 
}
div.caixinha, div.caixinha1{
    flex:1;
 }
 
 div.caixinha{
   background-color: rgb(213, 215, 215);
   text-align:center;
   box-sizing: border-box;
 }
 
 div.caixinha1{
     background-color: rgb(213, 215, 215);
     text-align: center;
 }

 div.caixinha, div.caixinha1, div.logo, div.acesso{
    margin: 0.521vw;  
} 

div.cabecalho{
    display: flex;
    flex-direction: row; /* caixinhas em linha */
    height:7.8vw; /*height:5.208vw;*/
    margin-bottom:1.042vw;
    width: 100%;
    background-color: black;
    border-bottom: solid 8px rgba(255, 0, 0, 0.651);
}

div.grande{
    width:90%;
}

div.logo{
    flex:30%;
    text-align:center;
}

div.acesso{
    flex:70%;
    text-align:center;
    color: white;
    font-size: 3vw;
    font-style: italic;
    margin-top: 2vw;
    margin-right: 1.5vw;
}

div.logo img{
  width: 17vw;
  margin-top: 1vw;
}

div.caixinha  a, div.caixinha1 a{
    text-decoration-line: none;
    font-family:tahoma;
    font-weight: bold;
    color:black;
} 

div.caixinha a:hover, div.caixinha1 a:hover{
    color:rgb(219, 6, 6);
}

div.caixinha p, div.caixinha p{
   font-size:16px
}

div.menu{
    margin-top:3vw;
    margin-left: 3vw;
    margin-bottom: 8vw;
}

div.menucel{
    display:none
}

div.menucomp{
    display:block
}

div.menucomp a {
    float:left;
    padding:10px 30px;
    text-decoration:none;
    color: black;
}

div.menucomp a:hover {
    color:red;
    border-bottom: solid 2px red;
}

div.rodape{
    width:100%;
    height:7vw;
    background-color:black;
    padding-top:10px;
    border-top:solid rgba(255, 0, 0, 0.651) 8px;
    margin-top:10px; /*  *{ margin:5px auto; } usa o asterisco para colocar em tudo*/
    color:white;
    font-size: 15px;
}
div.submenu{
    display:none; /* deixa oculto */
    position:absolute;
    text-align:center;
    width:140px; 
    font-family: 'Times New Roman', Times, serif;
    font-size: 15px;
    text-decoration:none;
    background-color:rgb(213, 215, 215);
    box-sizing: border-box;
}

div.principal {
    float:left /* um ao lado do outro na horizontal */
}

div.principal:hover div.submenu, a.opy{
    display:block; /* mostra o submenu */
}

button.botao{
    border:0px;
    margin:0px;
    width:100%;
    font-family: 'Times New Roman', Times, serif;
    font-size: 15px;
    padding: 10px 10px;
    text-decoration:none;
    color:black;
    background-color:rgb(213, 215, 215);
}

button.botao:hover{
    color: red;
    border-bottom: red solid 2px;
}

div.principal{
    width:120px;
}

img.image{
    height: 250px;
    text-align: center;
    width: 14vw;
}

p.frase{
    color: red;
    font-size: 40px;
    margin-top:1.5vw ;
    text-align: center;
    font-style: italic;
}

p.title{
    color: red;
    font-size: 40px;
    text-align: center;
    font-style: italic;
}

div.gigante{
    height: 1200px;
    border: black solid 2px;
    width: 90%;
}


/* Configuração para tablet - 900px */

@media only screen and (max-width:900px){


    div.grande{
        height:200px;
        margin-top: 3vw;
        margin-left: 2vw ;
        margin-right: 2vw ;
    }

    div.logo img{
        width: 18vw;
        margin-top: 1vw;
    }

    div.rodape{
          margin-top: 1.5vw;
    }

    div.gigante{
        height: 230vw;
        border: black solid 2px;
        width: 90%;
    }

    div.caixinha1{
        display: none;
    }
}

/* Configuração para celular - tela até 600 px */

@media only screen and (max-width:600px){

   div.grande{
        flex-direction:column;
        height:255vw;
        width:95%;
    }

   div.caixinha1{
      background-color:rgb(213, 215, 215);
      display: block;
   }
   

   div.logo, div.acesso{
        margin:0px;
   }

   div.menucel{
       display:block;
   }

   div.menucomp{
       display:none;
   }
 
   div.opcoes{
       display:none;
   }
  
   div.menucel:hover div.opcoes{
        display:block;
   }

   div.logo img{
    width: 19.5vw;
    margin-top: 1.5vw;
   }

   div.acesso{
   margin-top: 12px;
   }

   div.menucel a{
    float:row;
    padding:10px 30px;
    text-decoration:none;
    color: black;
    display:block;
   }

   div.menucel a:hover, button.botao:hover{
    color:red;
   }
   img.image{
    height: 230px;
    text-align: center;
    width: 35vw;
   }

   p.title{
      margin-bottom: 35px;
   }

   div.gigante{
    height: 800vw;
    border: black solid 2px;
    width: 90%;
   }

   div.rodape{
    width:100%;
    height:7vw;
    background-color:black;
    border-top:solid rgba(255, 0, 0, 0.651) 8px;
    margin-top:10px; /*  *{ margin:5px auto; } usa o asterisco para colocar em tudo*/
    color:white;
    font-size: 15px;
   }
   
}